<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN       " "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background: #ffffff; color: #555555; font-family: Roboto, Helvetica, sans-serif; font-size: 14px; line-height: 1.5; margin: 0; width: 100%;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
		<tr>
				<td bgcolor="#ffffff" width="100%">

						<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
								<tr>
									<td width="50" align="left" style="padding:20px">
										<a href="{{app_url}}" target="_blank" style="color: #686868;font-family: Roboto, Helvetica, sans-serif;font-size: 18px;font-weight: normal;margin: 0;padding: 0;text-decoration: none;font-weight: bold;line-height: 1;padding-top: 10px;display: inline-block;">
											{{app_name}}
										</a>
									</td>
									<td width="50" align="right" style="padding:20px;text-align:right;">
										<p style="color: #686868; font-family: Roboto, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 1.5em; margin: 0; padding:0; letter-spacing: 3px;"></p>
									</td>
								</tr>
								<tr>
										<td width="100%" colspan="2" style="padding:20px;padding-top:0;">
											<div style="padding: 2rem;border: 2px solid #f1f1f1;border-radius: 3px;text-align: left;">
												<!-- START OF EMAIL CONTENT -->
												<p style="color: #686868; font-family: Roboto, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">Hello {{name}},</p>

												<div style="color: #686868; font-family: Roboto, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">{{message}}</div>

												<p style="color: #686868; font-family: Roboto, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 0 0;">
													Best regards,<br>
													{{app_name}}
												</p>
												<!-- END OF EMAIL CONTENT -->
											</div>
										</td>
								</tr>
						</table>

				</td>
		</tr>
</table>

</body>
</html>

